# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
bun.lockb

imba
node_modules
*.local
.env
purge_cache.sh
.dockerignore

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.gitignore_backup

.dev-ssr
scripts
deploy.sh
Dockerfile
dist
dist_client
app.d.ts
prisma/migrations
railway.toml
backups